.cards {
  max-width: 1280px;
  width: 80vw;
  gap: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  padding: 60px;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.cards__title {
  margin: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.cards__item {
  place-self: center;
  gap: 16px;
  width: 230px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards__openmoji {
  width: 160px;
  height: 160px;
  padding: 60px 40px 43px;
  object-fit: cover;
}

.cards__description {
  margin: 0 auto;
  text-align: center;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

.cards__link {
  text-decoration: none;
  color: #fcb040;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  position: relative;
  padding: 12px 18px;
  line-height: 1;
  width: fit-content;
}

.cards__link::before,
.cards__link::after {
  content: "";
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all 0.6s;
}

.cards__link::before {
  top: 0;
  left: 0;
  border-top: 2px solid #fcb040;
  border-left: 2px solid #fcb040;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cards__link::after {
  bottom: 0;
  right: 0;
  border-bottom: 2px solid #fcb040;
  border-right: 2px solid #fcb040;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cards__link:hover::before,
.cards__link:hover::after {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.cards__link:hover {
  cursor: pointer;
}

@media (max-width: 1440px) {
}

@media (max-width: 980px) {
  .cards {
    justify-content: flex-start;
  }
}

@media (max-width: 520px) {
  .cards {
    justify-content: center;
    gap: 32px;
    width: 60vw;
  }

  .cards__description {
    line-height: 17px;
    font-size: 17px;
  }

  .cards__link {
    line-height: 17px;
    font-size: 17px;
    flex-shrink: 1;
    margin-top: 32px;
  }
}
