.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources__logo-zone {
  margin-top: 80px;
  margin-bottom: 217px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
}


.resources__logo_opacity {
  opacity: 0.6;
}

.resources__logo_contain {
  object-fit: contain;
}

.resources__logo {
  width: 270px;
  height: 38px;
  border: 1px dotted #FCB040;
}
