.map {
  color: white;
  height: 890px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f2f2f2;
}

.map__container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: no-repeat left center url(../../images/Group\ 4218.png);
  background-size: 2800px;
}

.map__cover {
  position: absolute;
  object-fit: cover;
  width: 1400px;
  height: 1000px;
}

.map__title {
  line-height: 1.15;
  font-size: 80px;
  font-weight: bold;
  width: 648px;
  margin: 0;
  padding: 500px 48px 0 0;
  align-self: end;
  text-align: end;
}

.map__link {
  color: #fcb040;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  right: 48px;
  top: 80%;
}

.map__link:hover {
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
}
