.logo {
  width: 183px;
  height: 32px;
  width: 274px;
  height: 48px;
}

.logo_place_lead {
  background-image: url(../../../images/logo_place_lead.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.logo_place_footer {
  background-image: url(../../../images/logo_place_footer.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
