.table {
  padding-top: 60px;
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  list-style-type: none;
  padding-left: 0;
}

.table_theme_dark {
  /* margin: 0 auto 90px; */
  z-index: 1;
  color: white;
  padding: 48px 32px 90px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0 0 20px;
}

.table__heading_theme_dark {
  color: white;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
  z-index: 2;
}

.table__cell {
  width: 250px;
  padding: 6px;
}

.table__cell_theme_dark {
  width: 200px;
  margin: 80px 0 0;
  color: white;
  z-index: 3;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.table__text_theme_dark {
  color: white;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

@media (max-width: 1440px) {

}

@media (max-width: 980px) {

}

@media (max-width: 520px) {
  .table {
    gap: 24px;
  }

  .table__heading {
    font-size: 18px;
    padding: 0 0 10px;
  }

  .table_theme_dark {
    gap: 12px;
    padding-bottom: 180px;
  }

  .table__cell_theme_dark {
    margin: 0;
    width: 100%;
  }

  .table__heading_theme_dark {
    text-align: center;
    margin: 0;
  }

  .table__text_theme_dark {
    /* text-align: center; */
    line-height: 17px;
    font-size: 16px;
  }
}
